canvas {
  background-color: #000000;
}

/*======= Fonts: Chivo Mono and Source Serif Pro =======*/
/*    Usage examples:
    font-family: 'Chivo Mono', monospace;
    font-family: 'Source Serif Pro', serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Source+Serif+Pro:ital@0;1&display=swap");

:root {
  --main-darkest: #222831;
  --main-dark: #393e46;
  --main-dark-accent: #66778f;
  --main-orange: #d65a31;
  --main-orange-accent: #e68869;

  --main-white: #c3c2c2;
  --color-shadow: rgb(63, 63, 63);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(10, 10, 10);
  font-family: "Source Serif Pro", serif;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--main-orange);
}

a:hover {
  color: var(--main-orange-accent);
  transform: translateY(-2px);
  transition: all 0.3s;
}

h1 {
  padding: 1rem;
  color: var(--main-orange);
}
button,
button:visited,
button:link {
  color: var(--main-white);
  padding: 1.5rem;
  width: 5rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;

  background: var(--main-orange);
  box-shadow: 2px 2px 5px var(--color-shadow);
  transition: all 0.3s;
  text-align: center;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 2px 4px 5px var(--color-shadow);
  background: var(--main-orange-accent);
}
button:active {
  transform: translateY(3px);
}

/*--------------Nav--------------*/
nav {
  font-family: "Chivo Mono", monospace;
  display: flex;
  width: 100%;
  height: 15vh;
  align-items: center;
  background-color: var(--main-darkest);

  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 5;
}

nav > img {
  height: 5rem;
  padding: 1rem;
  border-radius: 10px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  padding: 0;
}

nav > ul > a {
  padding: 1rem;
  font-size: 1.2rem;
}

/*------------------Guide-----------------*/

#guide {
  margin-top: 15vh;
  background-color: var(--main-dark);
  height: calc(100vh - 15vh);
  display: flex;
  flex-direction: column;
}
#guide > p {
  color: var(--main-white);
  padding: 10rem;
  padding-bottom: 2rem;
}

#guide > a {
  margin: 0 auto;
}

/*---------------Game---------------------*/

#gameDiv {
  height: 85vh;
  width: 100vw;
  background-color: var(--main-darkest);
  display: flex;
  padding: 2vh;
}

#gameDiv > p {
  color: var(--main-white);
}

#game {
  margin-top: 2%;
  width: 98%;
}
