@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;400&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root {
  --background: #16213e;
  --background-transparent: #16213ee5;
  --background-accent: #141d35;
  --nav-background: #1f2f5ae3;
  --dark: #0f3460;
  --main: #533483;
  --accent: #e94560;
  --accent-scrollbar-background: #1f2f5ae3;
  --shadow: #191e30;

  --foreground: gainsboro;
  --btn-background: #0f3460;
  --btn-background-highlight: #113c70;

  --font-family-sans: "Chivo Mono", monospace;
  --font-family-serif: "Roboto Slab", serif;

  --p-size: 1.2rem;
}
html {
  scroll-padding-top: calc(10vh + 60px);
  scroll-behavior: smooth;
  scrollbar-color: var(--accent) var(--accent-scrollbar-background);
  scrollbar-width: 50%;
}
body {
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--font-family-serif);
}

h1 {
  font-family: var(--font-family-sans);
}
a {
  text-decoration: none;
  color: var(--foreground);
  transition: all 0.3s ease 0s;
}

a:hover {
  color: var(--accent);
}

.btn {
  border-radius: 10px;
  padding: 20px 35px;
  border: 2px solid var(--accent);
  font-family: var(--font-family-sans);
  transition: all 0.4s ease;
}

.btn:hover {
  transform: scale(110%);
  background-color: var(--accent);
  color: var(--background);
}

.btn:active {
  transform: scale(100%);
}

ul {
  list-style-type: none;
}

.center {
  align-self: center;
  margin: 5vh 0 0;
}

/*=================== Nav =================*/

header {
  background-color: var(--nav-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 10vh;
  width: calc(100vw - 20%);
  overflow: hidden;
  backdrop-filter: blur(2px);

  z-index: 2;
  position: fixed;
  top: 0;

  transition: transform 0.3s;
  transition: all 0.3s ease 0;
}

.header--hidden {
  transform: translateY(calc(-10vh - 60px));
}

header > a > i {
  font-size: 32px;
}

nav > ul > li {
  display: inline-block;
  padding: 0 20px;
}

.list-number {
  color: var(--accent);
}

/*=================== Sidebar nav =================*/
#sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 3vw;
}

#sidebar > ul > li > a > i {
  padding: 20px;
  font-size: 32px;
}

#sidebar > ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--foreground);
}
/*=================== Pages =================*/
#pages {
  padding: 0 25vw;
}
/*=================== Home =================*/
#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.explore {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: center;
}

.explore > i {
  position: relative;
  bottom: -10vh;
  color: var(--foreground);
  animation: float 1.5s ease-in-out infinite 2s;
}

.home-p {
  font-family: var(--font-family-serif);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5vh);
  }
}

.underscore_blink {
  animation: blinker 1s step-start infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*=================== About =================*/
#about {
  margin-bottom: 30vh;
  display: flex;
}
#about > div {
  display: flex;
  flex-direction: column;
}
#skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0 10px;
}

#skills > li::before {
  content: ">";
  color: var(--accent);
  padding: 10px;
}
#pfp {
  width: 256px;
  height: 256px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 10px 10px 0 var(--accent);
}
/*=================== Experience =================*/
#experience {
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
}
#experience-content {
  display: flex;
  align-items: center;
}

#experience-content > div > p {
  margin-top: 50px;
}

#experience-content > div > p:nth-child(1) {
  margin-top: 1rem;
}

#timeline {
  padding: 0 50px;
}
#timeline > ul::before {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--foreground);
}

#timeline > ul > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--foreground);
}
/*=================== Work =================*/
#work {
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  background-color: var(--background-accent);
  margin: 30px 0;
  padding: 50px;
  border-radius: 15px;
}

.project-description {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  border-radius: 15px;
  overflow: hidden;
}

.project-description > p {
  padding: 50px;
  background-color: var(--background-transparent);
}

.project-description > div {
  display: flex;
}
.project-description > img {
  border-radius: 20px;
  transition-delay: 300ms;
}
.project-description > div > ul > li::before {
  content: ">";
  color: var(--accent);
  padding: 10px;
}

.project-description > div > ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0 10px;
}
.project-links > a > i {
  font-size: 40px;
}

.soon {
  filter: blur(5px);
}

/*=================== Contact =================*/
#contact {
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
}
#contact > p {
  text-align: center;
}

#contact > ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 40px 20%;
  padding: 0;
}

#contact > ul > li {
  font-size: 32px;
}
/*=================== Footer =================*/
footer {
  min-height: 200px;
  margin: 0 -25vw;
  padding: 0 25vw;
  background-color: var(--background-accent);
}

footer > p {
  padding: 50px;
}
/*=================== Animation =================*/

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-80%);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.typed-text {
  transition-delay: 800ms;
}

.explore {
  transition-delay: 1200ms;
}

.home-p {
  transition-delay: 800ms;
}

#sidebar {
  transition-delay: 2000ms;
}

#pfp {
  transition-delay: 300ms;
}

#headerLinks > li:nth-child(1) {
  transition-delay: 200ms;
}
#headerLinks > li:nth-child(2) {
  transition-delay: 400ms;
}
#headerLinks > li:nth-child(3) {
  transition-delay: 600ms;
}
#headerLinks > li:nth-child(4) {
  transition-delay: 800ms;
}

#skills > li:nth-child(1) {
  transition-delay: 100ms;
}
#skills > li:nth-child(2) {
  transition-delay: 200ms;
}
#skills > li:nth-child(3) {
  transition-delay: 300ms;
}
#skills > li:nth-child(4) {
  transition-delay: 400ms;
}
#skills > li:nth-child(5) {
  transition-delay: 500ms;
}
#skills > li:nth-child(6) {
  transition-delay: 600ms;
}
#skills > li:nth-child(7) {
  transition-delay: 700ms;
}
#skills > li:nth-child(8) {
  transition-delay: 800ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
